.main {
  min-height: calc(100vh - 3.5rem);
  background-color: rgb(2, 163, 110);
  position: relative;
}

.container {
  padding: 4rem 2rem;
  text-align: center;
  position: relative;
}

.deal {
  background-color: blue;
  color: white;
  font-size: 1rem;
  padding: .5rem 1rem;
  border-radius: .3rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.deal button:hover {
  background-color: rgb(20, 1, 194);
}

.piles {
  display: flex;
  justify-content: center;
  margin: 1rem;
  margin-right: 2rem;
}

.pass {
  border-radius: .3rem;
  padding: .5rem;
  background-color: lightslategray;
}

.passActive {
  border-radius: .3rem;
  padding: .5rem;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.suit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: .5rem;
}

.restart {
  background-color: blue;
  color: white;
  padding: .5rem 1rem;
  border-radius: .3rem;
  margin-top: 3rem;
  margin-right: 1rem;
  cursor: pointer;
  box-shadow: 1px 1px 2px black;
}

.restart:hover {
  background-color: rgb(20, 1, 194);
}