.main {
  margin: 0;
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  margin-bottom: 0;
  color: red;
  font-size: 3rem;
  text-shadow: 1px 1px 2px gray;
  -webkit-text-stroke: 1px black;
}

.rules {
  margin: .5rem 2rem;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.rules h2 {
  text-align: center;
  margin-bottom: 0;
}

.play {
  display: block;
  background-color: red;
  border-radius: .5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  margin: 1rem auto;
  box-shadow: 1px 1px 2px gray;
}

.play:hover {
  background-color: rgb(204, 0, 0);
}

.gif {
  width: 80vw;
  max-width: 40rem;
  margin: 1rem auto;
}

.footer {
  background-color: black;
  color: white;
  padding: 1.5rem;
  margin-top: 2rem;
  text-align: center;
}

.icons {
  margin-top: 1.5rem;
}

.icons a {
  color: white;
  font-size: 2rem;
  margin: 1rem;
}