.current {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 2px rgb(1, 80, 56);
}

.select {
  width: 7rem;
  height: 7rem;
}

.options {
  display: inline-block;
  background-color: white;
  width: 45%;
  height: 45%;
  font-size: 2.5rem;
  cursor: pointer;
  text-align: center;
  border: 1px inset gray;
}

.options:hover {
  background-color: rgb(229, 235, 241);
}